.caixa{
    height: 600px;
    width: 400px;
    border: 3px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: white;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #537EFF;
}

#geral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color: #032380;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 5px;
}


.disk {
    cursor:grab;
}

#disco4{
    width: 300px;
    height: 60px;
    background-color: crimson;
    border: solid black 4px;
    border-radius: 10px;
    
}

#disco3{
    width: 250px;
    height: 60px;
    background-color: darkgray;
    border: solid black 4px;
    border-radius: 10px;
    
}

#disco2{
    width: 200px;
    height: 60px;
    background-color: darksalmon;
    border: solid black 4px;
    border-radius: 10px;
    
}

#disco1{
    width: 150px;
    height: 60px;
    background-color: deepskyblue;
    border: solid black 4px;
    border-radius: 10px;
    
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;   
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

