body {
    display: flex;
    flex-direction: column;
    background-color: #537EFF;
}

h1 {
    text-align: center;
    color: #2d4692;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

#geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disco0 {
    width: 100px;
    height: 37px;
    background-color: red;
    border: solid black 3px;
    border-radius: 10px;
}

.disco1 {
    width: 150px;
    height: 37px;
    background-color: blue;
    border: solid black 3px;
    border-radius: 10px;
}

.disco2 {
    width: 195px;
    height: 37px;
    background-color: yellow;
    border: solid black 3px;
    border-radius: 10px;
}

.disco3 {
    width: 230px;
    height: 37px;
    background-color: green;
    border: solid black 3px;
    border-radius: 10px;
}

.torres {
    background-color: rgb(183, 240, 218);
    margin: 8px;
    cursor: grab;
    transition:0.4s;
}

.torres:hover {
    background-color:#9beca2;
    
}

#torre1 {
    border-radius: 20px;
    border: solid 2px black;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#torre2 {
    border-radius: 20px;
    border: solid 2px black;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#torre3 {
    border-radius: 20px;
    border: solid 2px black;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#torres {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
    height: 450px;
}

#rodape {
/*     display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: flex;
    flex-direction: row;
    width: 780px;
    margin: 0 auto;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 30px;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#rodape1 {
    margin-left:2% ;
}


/* #rodape3 {
    margin-left: 2%;
}  */